.container {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.body {
    background: #3c1d6b;
}

/* .general {
    background-color: 9C4CFF;
} */

.div-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.img {
    position: absolute;
    margin: auto;
}